

.c-parent{

    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--length);
    border: 1px solid goldenrod;
    height: 60px;
}

.c-parent:hover{
    /* background-color: rgb(166, 166, 166); */
    cursor: grab;
    
}

p{
    color: red;
}
